<%- include('./partials/header.ejs')%>
    <!-- Main content section -->
    <div class="content">
        <h1>About JMB News</h1>
        <p>At JMB News, we're dedicated to providing you with a dynamic and immersive experience, 
        ensuring you're always in the know about the latest happenings across various categories.
        Our platform is designed to meet everyone specific informational requirements.</p>
        <p>Visit the events section to explore the events currently on offer!</p>
    </div>
    <%- include('./partials/footer.ejs')%>