<%- include('./partials/header.ejs')%>
    <!-- Main content section -->
    <div class="content">
        <h1>Contact US</h1>
        <p>Adress - 9201 University City Blvd, Charlotte, NC 28223</p>
        <p>Phone - (704) 687-8622</p>
    </div>
    <%- include('./partials/footer.ejs')%>